/*------------------------------------------------------------------
Template:	JB Intrepid
Version:	Joomla 1.5 / Joomla 2.5
Zen Grid:	v2.0
Copyright:	Joomlabamboo
Created:	May 2012
------------------------------------------------------------------*/
body, .offlinepage {background: #333333;)} 
#topwrap,#headerwrap,#logowrap {border-bottom: 1px solid #272E33} 
#navwrap,#headerwrap,#logowrap{ border-top: 1px solid #3A444C} 
#nav ul li.active {
    background: none repeat scroll 0 0 #6A7A44;
    border: 1px solid #738547;}