/*------------------------------------------------------------------
Template:	JB Intrepid
Version:	Joomla 1.5 / Joomla 2.5
Zen Grid:	v2.0
Copyright:	Joomlabamboo
Created:	July 2012
------------------------------------------------------------------*/

.itemContainer {width:50%;float:left;}

.catItemView {padding:4%}

.catItemIntroText {text-align:justify}